<section>
  <div class="limit-content">
    <section class="flex-direction-row flex-gap-30 section-1">
      <img class="logo" src="svg/2600-logo-white.svg" alt="" />
      <div class="contact-n-rrss flex-gap-10">
        <span class="flex-position-center flex-gap-10">
          <img src="svg/rrss-wp-white.svg" alt="" />
          +57 3214919067
        </span>

        <span class="flex-position-center flex-gap-10">
          <img src="svg/mail.svg" alt="" />
          admin&commat;2600fitfest.com
        </span>

        <span class="flex-position-center flex-gap-10">
          <img src="svg/pin.svg" alt="" />
          Bogotá, Colombia
        </span>
      </div>
    </section>

    <!-- <section
      class="flex-position-top flex-direction-col flex-position-left flex-gap-20 rrss"
    >
      <span class="font-gra"> Nuestas cuentas </span>
      <div class="flex-position-center curson-pointer">
        <img src="svg/rrss-wp.svg" alt="" /> Whatsapp
      </div>
      <div class="flex-position-center curson-pointer">
        <img src="svg/rrss-ig.svg" alt="" /> Instagram
      </div>
      <div class="flex-position-center curson-pointer">
        <img src="svg/rrss-yt.svg" alt="" /> Youtube
      </div>
    </section>

    <section class="flex-direction-col">
      <div class="items-list">Inicio</div>
      <div class="items-list">2600 general</div>

      <div class="items-list">Competidores</div>
      <div class="items-list">Aliados</div>
    </section> -->
  </div>
</section>
