.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-container {
  padding: 2vw;
  img {
    width: 20%;
  }

  strong {
    font-size: x-large;
    text-align: center;
    
  }

  span {
    font-size: medium;
  }
}

@media (width < 769px) {
  .tittle {
    font-size: xx-large;
  }
  .card-container {
    strong {
        font-size: larger;
    }
  }
}
